/* Estilos para o formulário de login com um toque sofisticado e elegante */
form {
    max-width: 400px;
    min-width: 300px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra suave */
    background-color: rgba(0, 0, 0, 0.3); /* Fundo escuro com opacidade */
    font-family: Arial, sans-serif;
    color: #fff; /* Cor do texto branco para contraste */
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #f0e6d2; /* Tom claro para o texto */
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    background-color: #fff; /* Fundo claro para input */
}

input:focus {
    border-color: #c2a35d; /* Cor dourada sofisticada no foco */
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #c2a35d; /* Vermelho escuro para o botão */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    background-color: #e0e0e0; /* Efeito hover dourado */
    opacity: 0.9; /* Toque de opacidade no hover */
}

.error {
    color: #ff4d4d;
    margin-top: 10px;
    text-align: center;
}

.login-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('ramtchu.jpg'); /* Imagem de fundo elegante */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 2rem;
}
